body {
    font-family: arial, sans-serif !important;
    margin: 0;
    padding: 0;
    background: #fff;
}

h1 {
    color: #666;
    background: #ddd;
    text-transform: uppercase;
    margin: 5px;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1024px !important;
}

h5,
p {
    margin: 0 !important;
    color: #666;
}

.box {
    padding: 10px !important;
    border: 10px solid #ddd;
}

.box-wrapper {
    padding: 5px !important;
}

a {
    text-decoration: none !important;
    color: inherit;
}

.letters-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}

.letters-wrapper > p {
    padding: 5px;
    background-color: #ddd;
    width: 30px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
